@import "variables_portafolio.css";

*{
	margin:0px;
	padding:0px;
	/*text-align:center;*/
	box-sizing:border-box;
	font-family: 'Montserrat', 'Arial', sans-serif;
}

html, body{
	width:100%;
	height:100%;
	background-color: #F6F6F6;
}

header{
	background:#EBEDEF;
    color: #48494A;
    width:100%;
    height: 50px;
	min-height:80px;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	flex-wrap:wrap;
  	position:fixed;
}

header img{
	max-width: 200%;
	position: relative;
}
header h1{
	margin-top:30px;
	font-size:16px;
	display:inline-block;
}
#logo{
	width: 20%;
	float: left;
	margin: auto;
	padding-top: 15px;
	padding-left: 40px;
}
nav{
	float: right;
	margin: 15px 250px 15px 15px;
}
section{
	width:100%;
	height:auto;
    background: #F6F6F6;
	z-index:1;
	font-size:18px;
	padding:20px 5px 30px 5px;
}

#seccion_blog{
	margin-top: 100px;

}

#about{
	margin-right: 400px;
}

/* EFECTO MENU HAMBURGUESA */
nav{
	height: 80px;
	color: var(--white);
	margin:0px 50px 0px 0px;
	box-sizing: border-box;
	padding: 14px 30px;
    text-align: center;
}
#contenido img{
	width: 70%;
	padding: 80px 0 0 0;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

#texto_descripcion{
	padding-left: 250px;
}
.nav_container{
	display: flex;
	height: 100%;
	width: 90%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}
.nav_logo{
	font-size: 1.5em;
	font-weight: 900;
}

.nav_item{
	font-size: 24px;
	color: #5E4FFF;
	text-decoration: none;
	--clippy: polygon(0 0, 0 0, 0 95%, 0% 100%);
	word-spacing: 2em;
}

.nav_item::after{
	content: "";
	display: block;
	background: #5E4FFF;
	width: 90%;
	margin-top: 3px;
	height: 3px;
	clip-path: var(--clippy);
	transition: clip-path .2s;
}

.nav_item:hover{
	--clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.nav_label, .nav_input{
	display: none;
}

.nav_input:checked + .nav_home{
	background: var(--blue-primary-color);
}
.nav_home{
	display: grid;
	grid-auto-flow: column;
	gap: 3em;
}
/* --------------------------MEDIA QUERIES efecto hamburguesa----------------------*/
@media (max-width: 700px){

	.nav_label{
		display: block;
		cursor: pointer;
	}
	.nav_home{
		color: var(--white);
		position: fixed;
		top: 60px;
		bottom: 0;
		background: #5E4FFF;
		width: 100%;
		left: 0;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		clip-path: circle(0 at center);
		transition: clip-path 0.8s ease-out;
		}
 .nav_input:checked + .nav_home{
	background: #5E4FFF;
}
 .nav_home a{
 	color: var(--white);
 }

label .nav_img{
	    width: 10%;
	    position: fixed;
	    top: 12px;
	    right: 20px;
}
		.nav_input:checked + .nav_home{
			clip-path: circle(100% at center);
		}
}
/* Aquí terminan los media queries del efecto del menú de hamburguesa */
/* ------ */

#about{
	margin-right: 30px;
	margin-left: 30px;
	text-align: justify;
}

#bienvenida{
	display: none;
}

#slider-container {
    height: 40%;
    overflow: hidden;
    text-align: left;
    width: 100%;
}

#slider-box {
    animation: autoSlider 15s infinite linear;
    height: 80%;
    width: 300%;
}

#slider-box img {
    width: 70%;
}

#elemento {
    float: left;
    width: 33.333%;
}

.cristal {
    float: left;
    width: 33.333%;
    height: 10%;
	margin-left:-33.333%;
	}

p.capital::first-letter {
    float: left;
    color: #5E4FFF;
    margin: 0 10px 0 0;
    padding: 7px 5px 1px 5px;
    display: block;
    margin-right: 6px;
    font-family: times;
    margin-top: 5px;
    font-size: 100px;
    line-height: 60px;
}
#about_me{
		background-color: #F6F6F6;
		width: auto;
		display: flex;
		justify-content: center;
		margin: 100px 300px 50px 200px;
	}

#about_me img{
	float: left;
	width: 15%;
	margin: 0 30px 0 0;
	border-radius: 10px 0 10px 0;
}
#about_me p{
		text-align: justify;
		font-size: 18;
		align-items: center;
		width:auto;
		max-width: 100%;
		height:auto;
	}
#about_me p::selection {
    background: #5E4FFF;
    color: var(--white);
}

/* Firefox */
#about_me p::-moz-selection {
	background: #5E4FFF;
	color: var(--white);
}
#texto_blog {
	background-color: #F6F6F6;
	width: 1200px;
}
#texto_blog p{
	text-align: justify;
	font-size: 18;
	padding: 50px 300px 20px 200px;
	width:auto;
	max-width: 100%;
	height:auto;
}
#texto_blog p::selection {
    background: #5E4FFF;
    color: var(--white);
}

/* Firefox */
#texto_blog p::-moz-selection {
	background: #5E4FFF;
	color: var(--white);
}
#menu_blog{
	background-color: #F6F6F6;
}
#menu_blog li a{
	text-decoration: none;
	font-size: 14px;
	color: var(--black);
	line-height: 200%;
}
#menu_blog{
	position: absolute;
	left: 1300px;
	top: 200px;
}
#menu_blog li a:hover{
	background-color: #5E4FFF;
	color: var(--white);
	transition: ease-in-out clip-path 0.8s;
	transition-delay: 0.7s;
}
#lista_blog{
	margin-left: 150px;
}
#img_texto{
	padding: 0px 0 0 100px;
	font-size: 14px;
}
@keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}
/* ----- */

#G{
	display:none;
}
/* AQUÍ TERMINA EL EFECTO DEL MENÚ HAMBURGUESA */


/* ---------------------------------------------------------------*/

/*DISEÑO DE BOTONES*/
.boton_general{
	background-color: rgba(43, 95, 153, 0.6);
	color: var(--white);
	font-size: 18px;
	width: 270px;
	height: 110px;
	left: 200px;
	top: 200px;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
}
.boton_general:hover:not(.active) {
    background-color: #13244E;
    cursor: pointer;
}
.boton_general2{
	background-color: var(--blue-primary-color);
	position: inherit;
	color: var(--white);
	font-size: 18px;
	width: 270px;
	height: 110px;
	left: 200px;
	top: 1200px;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
}
.boton_general2:hover:not(.active) {
    background-color: #13244E;
    cursor: pointer;
}
#boton_general2-informacion{
	margin-left: 200px;
}
.boton_general3{
	background-color: var(--blue-primary-color);
	color: var(--white);
	font-size: 18px;
	width: 270px;
	height: 70px;
	left: 200px;
	top: 1200px;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
}
.boton_general3:hover:not(.active) {
    background-color: #13244E;
    cursor: pointer;
}
/*---*/

/*---*/
#btn-secundario{
	background-color: var(--blue-primary-color);
	border-radius: 3px;
	padding: 5px;
}
#btn-secundario a{
	text-decoration: none;
	color: var(--white);
	font-weight: bold;
}
/*------------------------------------------------*/


.btn-item{
	background: var(--white);
	color: var(--blue-primary-color);
	display: block;
	padding: 8px;
	border-radius:var(--radius) ;
	font-weight: bold;
	border-bottom: 1px solid var(--blue-primary-color);
	cursor:pointer;
	margin: 0 auto;
    padding: 15px 20px;
    line-height: 1;
    outline: none;
}

.item-content{
	background: var(--blue-secundary-color:);
	overflow: hidden;
	max-height: 0px;
	opacity: 0;
	transition: .3s ease-in-out;
}

.active + .item-content{
	max-height: 1000px;
	padding: 10px;
	opacity: 1;
}

.btn-item .active{
	background: green;
}

.btn-item:after{
	content: '\002b';
	float: right;
}

.btn-item.active:after{
	content: '\02212';
}
/*--------------------------------------------------*/

/* CONTENIDO */
section #seccion_segunda{
	width:100%;
    height:auto;
    display:inline-block;
    background: #FFFFFF;
    margin: 0px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
    border-radius:22px;
    padding:0px;
}

article{
	width:100%;
	max-width:auto;
	height:auto;
	display:inline-block;
	margin:0px;
	padding:0px;
	}
	#hijo-bloques2{
	height:80px; /*64*/
	width:100%;
	background:#f2f2f2;
	float:left;
	font-size:18px;
	color: #3F3F3F;
	font-weight:bold;
	padding:11px 10px;

}
	.hijo2{
	height:250px;
	width: 1250px;
	padding: 100px;
	background-color: #fafafa;
	float:left;
	margin: 0px;
	font-size: 20px;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
}
.hijo2 p{
	font-size:18px;
	color: var(--black);
	text-align: left;
	margin: 10px 10px 5px 30px;
}

/*--- Quienes somos ---*/
#texto_blog > p{
	text-align: justify;
	padding: 50px 50px 20px 50px;
	width:auto;
	max-width: 100%;
	height:auto;
}

/*------- SECCION CONTACTO ------- */
#seccion_primera{
	height: 300px;
	margin-top: 0px;
	margin-bottom: 150px;
}
/*---- SECCIÓN DESACARGA CONTENIDOS ----*/
# seccion_descarga_contenidos{
	color: var(--black);
	font-size: var(--h3);
	text-align: left; 
	background-color: var(--white);
}
/*------- SECCION CONTACTO ------- */
#seccion_contacto{
	height: 300px;
	margin-top: 0px;
	margin-bottom: 150px;
}
/*------- TABLA - FOOTER  --------*/
#contacto{
	color: var(--gris);
	font-size: var(--p);
	height: auto;
	text-decoration: none;
}
#contacto td{
	padding: 30px 0px 50px 0px;
	margin: 0px;
	text-align: left;
}
table #logo img{
	width: 100px;
}
#enlace2{
	color: var(--gris);
	text-decoration: none;
	word-spacing: 0.8em;
	display: list-item;
	list-style: none;
	line-height: var(--space-4);
}
#enlace2{
	color: var(--gris);
	text-decoration: none;
	--clippy: polygon(0 0, 0 0, 0 95%, 0% 100%);
	word-spacing: 2em;
}

#enlace2::after{
	content: ""; /*NO BORRAR, ESTO ES IMPORTANTE*/
	display: block;
	background: var(--gris);
	width: 40%;
	margin-top: 3px;
	height: 3px;
	clip-path: var(--clippy);
	transition: clip-path .3s;
}
#enlace2:hover{
	--clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#enlace3{
	color: var(--gris);
	font-size: var(--li);
	line-height: var(--space-4);
	margin: 0px 250px 20px 500px;
}
#enlace3 a{
	color: var(--gris);
	text-decoration: none;
	--clippy: polygon(0 0, 0 0, 0 95%, 0% 100%);
	word-spacing: 2em;
}
#enlace3_texto{
	color: var(--gris);
	text-align: left;
	font-size: var(--li);
	margin: 0px 250px 20px 15px;
}
#legales{
	color: var(--gris);
	font-size: var(--p);
	background-color: rgba(33, 105, 255, 0.1);
	height: auto;
	text-decoration: none;
	border-radius: 8px;
}
#legales td{
	padding: 50px 0px 50px 0px;
	margin: 0px;
}
.checkbox-group #aviso{
	color: var(--gris);
	font-size: var(--p);
	height: auto;
	text-decoration: none;
}
#contenedor .hijo1{
	color: #707070;
	text-align: center;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
	background-color: white;
	border-radius:22px;
	padding-top:  20px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 20px;
	width: 300px;
	height: 600px;
}

#contenedor .hijo1{
	padding: 5px 0px 0px 0px;
	flex-direction: column;
	justify-content: center;
	align-items: center;flex-wrap: wrap;

}
#contenedor .hijo1 .hijo-bloques1{
	height: 190px;
	padding:5px 5px 5px 5px;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
	background-color: white; 
	border-radius:22px;
	padding-top:  20px;
	padding-left: 30px;
	padding-right: 30px;
}
	#hijo-bloques2{
	height:190px;
	width:100%;
	background:none;
	float:left;
	border-radius:22px;
	padding: 5px 5px 5px 5px;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;

}
#hijo-bloques2 p{
	color: #707070;
	font-size: 18px;
	font-weight:bold;
	}
#boton_whatsapp{
	background: #25D366;
	color: white;
	font-size: 16px;
	width:300px;
	height: 40px;
  	cursor:pointer;
	border-radius: 10px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
#btn_whats{
	padding: 0px;
	margin-left: 15px 150px 0px 0px;
}

#menu{
	display:inline-block;
	height:60px;
	margin:10px;
	float:right;
}




footer{
	width:100%;
	height:auto;
	background-color: #EBEDEF;
	z-index:1;
	font-size:14px;
	padding:20px 30px;
}

footer a{
	color:var(--gris);
	font-size:16px;
	text-decoration:none;
}

footer a:hover{
	color:var(--white);
	font-size:16px;
	cursor:pointer;
}

footer b{
	color:#eee;
	font-size:12px;
}
footer #logo-footer{
	width: 20%;
}
#actividad{
	width:300px;
	height:auto;
	background:#000;
	display:inline-block;
	margin:10px;
}

#actividad img{
	width:100%;
	height:200px;
	float:left;
}

#titulo{
	height:80px; /*64*/
	width:100%;
	background:#f2f2f2;
	float:left;
	font-size:18px;
	color: #3F3F3F;
	font-weight:bold;
	padding:11px 10px;

}
#titulo p{
	color: #3F3F3F;
}
table{
	text-align:center;
	width:100%;
	height:100%;
}

table tr td p{
	text-align:center;
}

#previo{
	width:300px;
	height:280px;
	opacity:0;
	position:absolute;
}

#previo:hover{
	width:300px;
	height:280px;
	background: rgb(193,1,255);
	background-image: linear-gradient(to right top, #00001b, #000e21, #001725, #001e27, #002428);
	opacity:4;
	cursor:pointer;
	font-size:18px;
	padding:20px;
	position:absolute;
	box-shadow:0px 0px 8px #3F3F3F;
	transition: background .7s;
}

#previo hr{
    border: 0;
    height: 1px;
    background: #fff;
}

#previo p{
	text-align:left;
	color: #eee;
}

#a{
	animation: dos 20s infinite linear;
	margin-top:-200px;
}
@keyframes dos{
	0%{
		opacity:1;
	}
	60%{
		opacity:1;
	}
	65%{
		opacity:0;
	}
	100%{
		opacity:0;
	}
}

#b{
	animation:tres 10s infinite linear;
	margin-top:-200px;
}
@keyframes tres {
	0%{
		opacity:1;
	}
	30%{
		opacity:1;
	}
	35%{
		opacity:0;
	}
	95%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

#cero{
	margin-top:-200px;
}


/* ------ */

#slider-container {
    height: 100%;
    overflow: hidden;
    text-align: left;
    width: 100%;
}

#slider-box {
    animation: autoSlider 15s infinite linear;
    height: 80%;
    width: 300%;
}

#slider-box img {
    width: 100%;
}

#elemento {
    float: left;
    width: 33.333%;
}

.cristal {
    float: left;
    width: 33.333%;
    height: 10%;
	margin-left:-33.333%;
	}

@keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

}
@media only screen and (max-width: 1920px) and (min-width: 1025px) {
	header{
    width: 100%;
    background: #ebedef;
    z-index: 1;
    padding: 0px 30px;
    box-shadow: var(--shadow);
    position: fixed;
}
	header #logo{
	width: 40%;
	float: left;
	margin: 0px 0px 0px -20px;
	padding-top: 20px;
	padding-left: 15px;
}
#enlace3_texto{
	color: var(--gris);
	text-align: left;
	line-height: 2.5em;
	font-size: var(--li);
	margin: 0px 30px 20px 10px;
}
#boton_whatsapp{
	background: #25D366;
	color: white;
	font-size: 16px;
	width:300px;
	height: 40px;
  	cursor:pointer;
	border-radius: 10px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
}
#btn_whats{
	padding: 0px;
	margin-left: 15px 150px 0px 0px;
}
#btn-secundario{
	background-color: var(--blue-primary-color);
	border-radius: 3px;
	padding: 5px;
}
#btn-secundario a{
	text-decoration: none;
	color: var(--white);
	font-weight: bold;
}
/** Curriculum **/
#about_me{
		background-color: #F6F6F6;
		color: var(--black);
		width: auto;
		display: flex;
		justify-content: center;
		margin: 100px 50px 50px 50px;
	}

#about_me img{
	float: left;
	width: 25%;
	margin: 0 25px 0 0;
	border-radius: 15px 0 15px 0;
}
#about_me p{
		text-align: justify;
		font-size: 18;
		align-items: center;
		width:auto;
		max-width: 100%;
		height:auto;
	}

/* Firefox */
#about_me p::-moz-selection {
	background: #5E4FFF;
	color: var(--white);
}
#texto_blog {
	background-color: #F6F6F6;
	color: var(--black);
	width: auto;
}
#texto_blog p{
	text-align: justify;
	font-size: 18;
	margin: 25px 25px 50px 25px;
	width:auto;
	max-width: 100%;
	height:auto;
}
#texto_blog p::selection {
    background: #5E4FFF;
    color: var(--white);
}

/* Firefox */
#texto_blog p::-moz-selection {
	background: #5E4FFF;
	color: var(--white);
}
#menu_blog{
	background-color: #F6F6F6;
}
#menu_blog li a{
	text-decoration: none;
	font-size: 14px;
	color: var(--black);
	line-height: 200%;
}
#menu_blog{
	position: absolute;
	left: 90px;
	top: 100px;
}
#menu_blog li a:hover{
	background-color: #5E4FFF;
	color: var(--white);
	transition: ease-in-out clip-path 0.8s;
	transition-delay: 0.7s;
}

#img_texto{
	padding: 0px 0 0 100px;
	font-size: 14px;
}
footer{
	width:100%;
	height:auto;
	background-color: #EBEDEF;
	z-index:1;
	font-size:14px;
	padding:20px 30px;
}

footer a{
	color:var(--gris);
	font-size:16px;
	text-decoration:none;
}

footer a:hover{
	color:var(--white);
	font-size:16px;
	cursor:pointer;
}

footer b{
	color:#eee;
	font-size:12px;
}
footer #logo-footer{
	width: 10%;
}	

#legales{
	color: var(--gris);
	font-size: var(--p);
	background-color: rgba(33, 105, 255, 0.1);
	height: auto;
	width: 100%;
	text-decoration: none;
	border-radius: 8px;
}
#legales td{
	padding: 50px 0px 50px 0px;
	margin: 0px;
}
}

@media only screen and (max-width: 1024px) and (min-width: 768px){

 	header{
    width: 100%;
    background: #ebedef;
    z-index: 1;
    padding: 0px 30px;
    box-shadow: var(--shadow);
    position: fixed;
}
	header #logo{
	width: 40%;
	float: left;
	margin: 0px 0px 0px -20px;
	padding-top: 20px;
	padding-left: 15px;
}
#enlace3_texto{
	color: var(--gris);
	text-align: left;
	line-height: 2.5em;
	font-size: var(--li);
	margin: 0px 30px 20px 10px;
}
#texto_descripcion{
	padding-left: 250px;
}
#boton_whatsapp{
	background: #25D366;
	color: white;
	font-size: 16px;
	width:300px;
	height: 40px;
  	cursor:pointer;
	border-radius: 10px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
}
#btn_whats{
	padding: 0px;
	margin-left: 15px 150px 0px 0px;
}
#btn-secundario{
	background-color: var(--blue-primary-color);
	border-radius: 3px;
	padding: 5px;
}
#btn-secundario a{
	text-decoration: none;
	color: var(--white);
	font-weight: bold;
}

/** Curriculum **/
p.capital::first-letter {
    float: left;
    color: #5E4FFF;
    margin: 0 10px 0 0;
    padding: 7px 5px 1px 5px;
    display: block;
    margin-right: 6px;
    font-family: times;
    margin-top: 5px;
    font-size: 100px;
    line-height: 60px;
}
#about_me{
		background-color: #F6F6F6;
		color: var(--black);
		width: auto;
		display: flex;
		justify-content: center;
		margin: 100px 50px 50px 50px;
	}

#about_me img{
	float: left;
	width: 25%;
	margin: 0 25px 0 0;
	border-radius: 15px 0 15px 0;
}
#about_me p{
		text-align: justify;
		font-size: 18;
		align-items: center;
		width:auto;
		max-width: 100%;
		height:auto;
	}
#about_me p::selection {
    background: #5E4FFF;
    color: var(--white);
}

/* Firefox */
#about_me p::-moz-selection {
	background: #5E4FFF;
	color: var(--white);
}
#texto_blog {
	background-color: #F6F6F6;
	color: var(--black);
	width: auto;
}
#texto_blog p{
	text-align: justify;
	font-size: 18;
	margin: 25px 25px 50px 25px;
	width:auto;
	max-width: 100%;
	height:auto;
}
#texto_blog p::selection {
    background: #5E4FFF;
    color: var(--white);
}

/* Firefox */
#texto_blog p::-moz-selection {
	background: #5E4FFF;
	color: var(--white);
}
#menu_blog{
	background-color: #F6F6F6;
}
#menu_blog li a{
	text-decoration: none;
	font-size: 14px;
	color: var(--black);
	line-height: 200%;
}
#menu_blog{
	position: absolute;
	left: 90px;
	top: 100px;
}
#menu_blog li a:hover{
	background-color: #5E4FFF;
	color: var(--white);
	transition: ease-in-out clip-path 0.8s;
	transition-delay: 0.7s;
}

#img_texto{
	padding: 0px 0 0 100px;
	font-size: 14px;
}
footer{
	width:100%;
	height:auto;
	background-color: #EBEDEF;
	z-index:1;
	font-size:14px;
	padding:20px 30px;
}

footer a{
	color:var(--gris);
	font-size:16px;
	text-decoration:none;
}

footer a:hover{
	color:var(--white);
	font-size:16px;
	cursor:pointer;
}

footer b{
	color:#eee;
	font-size:12px;
}
footer #logo-footer{
	width: 10%;
}	

#legales{
	color: var(--gris);
	font-size: var(--p);
	background-color: rgba(33, 105, 255, 0.1);
	height: auto;
	width: 100%;
	text-decoration: none;
	border-radius: 8px;
}
#legales td{
	padding: 50px 0px 50px 0px;
	margin: 0px;
}
}

@media only screen and (max-width: 640px) and (min-width: 320px){
 
 	header{
    width: 100%;
    background: #ebedef;
    z-index: 1;
    padding: 0px 30px;
    box-shadow: var(--shadow);
    position: fixed;
}
	header #logo{
	width: 80%;
	float: left;
	margin: 0px 0px 0px -20px;
	padding-top: 15px;
	padding-left: 0px;
}
#texto_descripcion{
	padding-left: 15px;
}
/*--- Este es el bueno ---*/
	#boton_whatsapp{
		float: none;
		background: #25D366;
		color: white;
		font-size: 16px;
		width:280px;
		height: 40px;
	  	cursor:pointer;
		border-radius: 10px;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	  	margin-left: 0px;
}

/** Curriculum **/
p.capital::first-letter {
    float: left;
    color: #5E4FFF;
    margin: 0 10px 0 0;
    padding: 7px 5px 1px 5px;
    display: block;
    margin-right: 6px;
    font-family: times;
    margin-top: 5px;
    font-size: 100px;
    line-height: 60px;
}
#about_me{
		background-color: #F6F6F6;
		color: var(--black);
		width: auto;
		display: flex;
		justify-content: center;
		margin: 100px 50px 50px 50px;
	}

#about_me img{
	float: left;
	width: 25%;
	margin: 0 25px 0 0;
	border-radius: 15px 0 15px 0;
}
#about_me p{
		text-align: justify;
		font-size: 18;
		align-items: center;
		width:auto;
		max-width: 100%;
		height:auto;
	}
#about_me p::selection {
    background: #5E4FFF;
    color: var(--white);
}

/* Firefox */
#about_me p::-moz-selection {
	background: #5E4FFF;
	color: var(--white);
}
#texto_blog {
	background-color: #F6F6F6;
	color: var(--black);
	width: auto;
}
#texto_blog p{
	text-align: justify;
	font-size: 18;
	margin: 25px 25px 50px 25px;
	width:auto;
	max-width: 100%;
	height:auto;
}
#texto_blog p::selection {
    background: #5E4FFF;
    color: var(--white);
}

/* Firefox */
#texto_blog p::-moz-selection {
	background: #5E4FFF;
	color: var(--white);
}
#menu_blog{
	background-color: #F6F6F6;
}
#menu_blog li a{
	text-decoration: none;
	font-size: 14px;
	color: var(--black);
	line-height: 200%;
}
#menu_blog{
	position: absolute;
	left: 90px;
	top: 100px;
}
#menu_blog li a:hover{
	background-color: #5E4FFF;
	color: var(--white);
	transition: ease-in-out clip-path 0.8s;
	transition-delay: 0.7s;
}

#img_texto{
	padding: 0px 0 0 100px;
	font-size: 14px;
}

/* ------- */
footer{
	padding: 10px;
}
#logo-footer img{
	width: 300%;
	margin-top: 10px;
}
#enlace3_texto{
	color: var(--gris);
	text-align: left;
	line-height: 2em;
	font-size: var(--li);
	margin: 0px 30px 20px 10px;
}
#boton_whatsapp{
	margin-bottom: 15px;
}
       table {
           width:100%;
       }
       thead {
           display: none;
       }
       tr:nth-of-type(2n) {
           background-color: inherit;
       }
       tr td:first-child {
           background: #f0f0f0;
           font-weight:bold;
           font-size:1.3em;
       }
       tbody td {
           display: block;
           text-align:center;
       }
       tbody td:before {
           content: attr(data-th);
           display: block;
           text-align:center;
       }
}

